{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
			integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" 
			crossorigin="anonymous" referrerpolicy="no-referrer" />
			<link rel="stylesheet"  type="text/css" href="{% static 'styles/main.css' %}">
		<title>kenthinho</title>
	</head>
	<body>
		<div class="container">
			<div class="left_side">
				<div class="profileText">
						<div class="imgBx">
							<img src="{% static 'images/kenneth-co.jpeg' %}" alt="profile pics">
						</div>
						<h2>Onuma Kenneth Boluwatife<br><span>Backend Developer</span></h2>
				</div>

				<div class="contactInfo">
					<h3 class="title">Contact Info</h3>
					<ul>
						<li>
							<span class="icon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
							<span class="text">+234 818 847 5318</span>
						</li>
						<li>
							<span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
							<span class="text">kenneth4justice@gmail.com</span>
						</li>
						<li>
							<span class="icon"><i class="fa fa-home" aria-hidden="true"></i></i></span>
							<span class="text">Ojo LGA, Lagos State</span>
						</li>
						<li>
							<span class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i>
							</span>
							<span class="text">www.linkedin.com/in/kenneth-onuma</span>
						</li>
					</ul>
				</div>

				<div class="contactInfo education">
					<h3 class="title">Education</h3>
					<ul>
						<li>
							<h5>1998 - 2004</h5>
							<h4>Primary School Certificate</h4>
							<h4>Top Private School</h4>
						</li>
						<li>
							<h5>2005 - 2011</h5>
							<h4>Secondary School Certificate (SSCE)</h4>
							<h4>Supreme Wisdom College</h4>
						</li>
						<li>
							<h5>2014 - 2016</h5>
							<h4>Computer Engineering (OND)</h4>
							<h4>D.S Adegbenro Polytechnic</h4>
						</li>
						<li>
							<h5>2018 - 2021</h5>
							<h4>Computer Engineering (HND)</h4>
							<h4>Lagos State Polytechnic</h4>
						</li>
					</ul>
				</div>

				<div class="contactInfo language">
					<h3 class="title">Personal Data</h3>
					<ul>
						<li>
							<span class="text">English</span>
							<span class="percent">
								<div style="width: 90%;"></div>
							</span>
						</li>
						<li>
							<span class="text">Good communication skills</span>
							<span class="percent">
								<div style="width: 75%;"></div>
							</span>
						</li>
						<li>
							<span class="text">Good Analytical skills</span>
							<span class="percent">
								<div style="width: 75%;"></div>
							</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="right_side">
				<div class="about">
					<h2 class="title2">Career Goal</h2>
					<p>A dynamic team-spirit and result oriented individual seeking to 
					contribute to the advancement of our national economy and build a strong, 
					innovative career in organization, with maximum and efficient utilization 
					of personal skills acquired through experience and the various institution 
					of knowledge in achieving organizational goals and development.</p>
				</div>

				<div class="about">

					<h2 class="title2">Experience</h2>
					<div class="box">
						<div class="year_company">
							<h5>2019 - Present</h5>
							<h5>Nampak Bevcan Plc</h5>
						</div>
						<div class="text">
							<h4>Baler Operator</h4>
							<p>Providing basic routine check-up everyday. Hereby performing
							some maintenace repair on worn-out parts.
							</p>
						</div>
					</div>

					<div class="box">
						<div class="year_company">
							<h5>2016 - 2018</h5>
							<h5>De-Tastee Fried Chicken</h5>
						</div>
						<div class="text">
							<h4>Sales Intern</h4>
							<p>My everyday activities include basic interaction with customers, getting 
							their basic need met and providing them with the required feedback.
							</p>
						</div>
					</div>

					<div class="box">
						<div class="year_company">
							<h5>2021</h5>
							<h5>Zuri training</h5>
						</div>
						<div class="text">
							<h4>Intern</h4>
							<p>Interned at zuri training primarily as a Backend web Developer,
							where i learn to write code and deal with sensitive data on the server side. 
							</p>
						</div>
					</div>
				</div>

				<div class="about skills">
					<h2 class="title2">Professional Skills</h2>

					<div class="box">
						<h4>Html</h4>
						<div class="percent">
							<div style="width: 70%;"></div>
						</div>
					</div>

					<div class="box">
						<h4>CSS</h4>
						<div class="percent">
							<div style="width: 50%;"></div>
						</div>
					</div>

					<div class="box">
						<h4>Django</h4>
						<div class="percent">
							<div style="width: 60%;"></div>
						</div>
					</div>

					<div class="box">
						<h4>Python</h4>
						<div class="percent">
							<div style="width: 70%;"></div>
						</div>
					</div>
				</div>

				<div class="about interest">
					<h2 class="title2">Interest</h2>
					<ul>
						<li><i class="fa fa-gamepad" aria-hidden="true"></i> Gaming</li>
						<li><i class="fa fa-microphone" aria-hidden="true"></i> Singing</li>
						<li><i class="fa fa-book" aria-hidden="true"></i> Reading</li>
						<li><i class="fa fa-cutlery" aria-hidden="true"></i> Cooking</li>
					</ul>
				</div>

				<div class="contactForm">
					{% if not receive %}
						<form action="{% url 'home' %}" method="POST">
							{% csrf_token %}
							<h3>Leave A Message</h3>
							<div class="inputBox">
								<input type="text" name="name" required="required">
								<span>Name</span>
							</div>

							<div class="inputBox">
								<input type="text" name="email" required="required">
								<span>Email</span>
							</div>

							<div class="inputBox">
								<textarea required="required" name="message"></textarea>
								<span>Type your message...</span>
							</div>
							<div class="inputBox">
								<input type="submit" name="" value="Send">
							</div>
						</form>
					{% else %}
						<p>Thank you for contacting me {{ contact.name }}!</p>
					{% endif %}
				</div>
			</div>
		</div>
	</body>
</html>